{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off"
  },
  "globals": {
    "$": false,
    "describe": false,
    "beforeEach": false,
    "expect": false,
    "it": false,
    "page": false
  }
}
