{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  },
  "globals": {
    "$": false,
    "describe": false,
    "beforeEach": false,
    "expect": false,
    "it": false,
    "page": false
  }
}
